body {
  margin: 0%;
  background-color: rgb(245, 243, 243);
  font-family: "Lato", sans-serif;
}
.container {
  /* margin-left: 38%; */

  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100vh;
}
#cen {
  text-align: center;
  margin-top: 40%;
}
.box1 {
  background: rgb(0, 152, 223);
}
.box2 {
  padding: 2px;
  margin-left: 5%;
}
.Weather {
  margin-top: 16%;
}

h3 {
  font-size: 1.8em;
}

.deg {
  font-size: 1em;
}

#pick {
  height: 10%;
  width: 50%;
}

sup {
  font-size: 0.4em;
}

#C:hover {
  color: rgb(0, 204, 255);
  cursor: pointer;
}

#F:hover {
  color: rgb(0, 204, 255);
  cursor: pointer;
}

#temp {
  font-size: 3em;
}
h5 {
  margin-bottom: 1%;
}
